@model OpenVid.Areas.Playback.Models.VideoList.VideoListViewModel

<div class="row">
    @foreach (var video in Model.Videos)
    {
        await Html.RenderPartialAsync("_Thumbnail", video);
    }
</div>

<hr />

@if (Model.HasNextPage)
{
    <a id="searchPages" class="loadMore newPage btn btn-info" data-page="@(Model.CurrentPage+1)" data-search-query="@Model.SearchQuery">Load More</a>
}