@model List<CatalogManager.Models.FoundVideo>

@using (Html.BeginPanel("Imports Queued for Encoding", true))
{
<p><strong>Step 2 -</strong> Planned video outputs that are waiting for their turn in the to be transcoded. MP4 items will be viewable on completion. DASH items will move on to Step 3.</p>

    <hr />

    @foreach (var video in Model)
    {
        <div class="row alert alert-grey m-b-10 rounded-corner">
            <div class="col-3 name">@video.FileName</div>
            <div class="col-1 status">@video.Resolution</div>
            <div class="col-1 status">@video.PlaybackFormat</div>
        </div>
    }
}